<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyf.mybatis.dao.LibrarianMapper">



    <select id="selectLibrarian" parameterType="INTEGER" resultType="com.lyf.mybatis.entity.Librarian">
        select *
        from t_librarian
        where 1=1
            and id = #{id,jdbcType=INTEGER}
    </select>



</mapper>